.single-news-card { 
    position: relative;
    z-index: 1;
    transition: all .4s ease-in-out;
    padding: 45px 50px 50px;
    margin-top: 30px;

    &:hover, &.active {
        &::before { 
            background: $theme-color;
            opacity: .8;
        }

        h6, h5, span, a, p {
            color: #fff !important;
        }

    }

    &::before {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #fff;
        content: "";
        left: 0;
        top: 0;
        z-index: -1;
        transition: all .4s ease-in-out;
    }

	.contents { 

		.post-cat-date { 
            margin-bottom: 10px;

			.post-cat { 
                margin-right: 10px;

				a { 
                    display: inline-block;
                    position: relative;
                    color: $theme-color;
                    font-weight: 600;
                    font-size: 14px;
                    padding-right: 5px;
                    margin-top: -2px;
                    text-transform: capitalize;

                    &::before {
                        position: absolute;
                        right: 0;
                        content: ",";
                    }

                    &:last-of-type {
                        &::before { 
                            display: none;
                        }
                    }

                    &:hover {
                        color: $third-color;
                    }
				}
			}

			.post-date { 
                font-size: 14px;
                color: $third-color;
                font-weight: 600;
                position: relative;
                padding-left: 15px;
                display: inline-block;
                text-transform: capitalize;

                &::before {
                    position: absolute;
                    left: 0;
                    content: "/";
                    color: #d4d4d4;
                }
			}
		}

		h5 { 

			&:hover {
                a { 
                    color: $third-color;
                }
            }
		}

		.post-author { 
            overflow: hidden;
            clear: both;
            display: flex;
            align-items: center;
            margin-top: 45px;

			.author-img { 
                border-radius: 50%;
                width: 60px;
                height: 60px;
                float: left;
                overflow: hidden;
                background-color: #eee;
                margin-right: 20px;
			}

			.author-info { 
                overflow: hidden;

				h6 { 
                    margin-bottom: 0;
                    line-height: 1;
				}

				span { 
                    font-size: 14px;
                    line-height: 1;
				}
			}
		}
	}
}

.single-blog-item { 
    background-color: #fff;
    border: 1px solid #eaeaea;
    position: relative;
    margin-top: 30px;

	.post-featured-thumb {
        height: 220px;
        position: relative;

        @include overlay($second-color, 0.2);

		.post-cat { 
            position: absolute;
            left: 40px;
            bottom: 0;

            @media (max-width: 991px) {
                left: 30px;
            }

			a { 
                display: inline-block;
                padding: 10px 20px;
                text-transform: capitalize;
                color: $heading-color;
                background-color: $theme-color;
                font-size: 14px;
                line-height: 1;
                font-weight: 600;
                font-family: $heading-font;

                &:hover {
                    background-color: $second-color;
                    color: $white;
                }
			}
		}
	}

	.content { 
        padding: 40px;
        padding-top: 35px;

        @media (max-width: 991px) {
            padding: 30px;
        }
        
		h3 { 
            &:hover {
                a {
                    color: $second-color;
                }
            }
		}

		p { 
            font-size: 16px;
            line-height: 26px;
		}

		.post-meta { 
            margin-top: 25px;
            font-size: 16px;
            text-transform: capitalize;
            line-height: 1;

            i { 
                margin-right: 6px;
                color: $second-color;
            }

			.post-date { 
                margin-right: 20px;
			}

			.post-author { 
				a { 
                    font-size: 16px;
                    text-transform: capitalize;
                    font-weight: 600;
                    line-height: 1;

                    &:hover {
                        color: $theme-color;
                    }
				}
			}
		}
	}
}

.single-news-box {
    position: relative;
    margin-top: 30px;

	.featured-thumb { 
        height: 240px;
        background-color: #eee;
        position: relative;

        .post-cat { 
            position: absolute;
            right: 30px;
            bottom: 0;

			a { 
                display: inline-block;
                padding: 10px 20px;
                text-transform: capitalize;
                color: $heading-color;
                background-color: $theme-color;
                font-size: 14px;
                line-height: 1;
                font-weight: 600;
                font-family: $heading-font;

                &:hover {
                    background-color: $second-color;
                    color: #fff;
                }
			}
		}
	}

	.content { 
        padding: 25px 30px;
        background-color: #f7f7f7;

        i {
            margin-right: 5px;
            color: $second-color;
        }

		.meta { 
            font-size: 14px;
            text-transform: capitalize;

			.author {

				a { 
                    color: $textcolor;
                    font-weight: 500;
                    font-size: 14px;
				}
			}
		}

		h3 { 
            font-size: 22px;
            line-height: 140%;
            margin-top: 10px;

            @media (max-width: 767px) {
                font-size: 20px;
            }

			a {
                &:hover {
                    color: $second-color;
                }
            }
		}

        .read-btn {
            margin-top: 20px;
            display: block;
            font-weight: 600;
            color: $second-color;
            text-transform: capitalize;
            
            &:hover {
                color: $third-color;
            }
        }
	}

}

.single-blog-card {
    margin-top: 30px;        
    position: relative;
    overflow: hidden;
    padding-bottom: 150px;

    .post-content {
        padding: 40px;
        border: 2px solid #f6f6f6;
        border-top: 0px;
        box-sizing: border-box;

        @media (max-width: 500px) {
            padding: 30px 0px;
            border: none;
            border-bottom: 2px solid #f6f6f6;
        }

        h3 {
            letter-spacing: -1px;
            margin-bottom: 10px;
            margin-top: 2px;
            font-size: 22px;
            font-weight: 600;

            &:hover {                        
                a {
                    color: $third-color !important;
                }
            }            
        }

        .post-meta {

            .post-author {
                margin-right: 25px;
            }

            i {
                margin-right: 5px;
            }

            a {
                color: #666;
                position: relative;
                font-size: 14px;
                font-weight: 600;
                padding-right: 5px;                

                &::before {
                    position: absolute;
                    right: 0;
                    content: ",";
                }

                &:last-child::before {
                    display: none;
                }
            }
        }
    }

    &.card-2 {
        padding-bottom: 180px;

        .blog-details {
            padding-bottom: 40px;
            overflow: initial !important;

            &::before {
                display: none;
            }

            @media (min-width: 767px) and (max-width: 991px) {
                padding: 40px 30px;
                
                h3 {
                    font-size: 20px;
                }
            }
        }
    }

    .featured-img {
        height: 270px;
        position: relative;                
    }

    .cat-name {
        position: absolute;
        top: 0;
        right: 20px;
        content: "";
        display: inline-block;
        background-color: $third-color;
        padding: 9px 20px;
        line-height: 1;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        border-radius: 30px;
        transform: translateY(-50%);
        z-index: 9;
        text-transform: capitalize;        

        &:hover {
            background-color: $second-color;
            color: #fff;
        }
    }

    .blog-details {
        padding: 40px 30px;
        margin: 0px 20px;
        margin-top: -30px;
        position: absolute;       
        background-color: #fff;
        overflow: hidden;
        transition: all .3s ease-in-out;
        padding-bottom: 0;
        bottom: 0;
        z-index: 88;

        &:hover {
            box-shadow: 0px 16px 32px 0px rgba(183, 186, 187, 0.1);
            margin-top: -100px;
            padding-bottom: 40px;

            &::before {
                visibility: visible;
                opacity: 1;
            }

            p {
                display: block;
            }
        }

        &::before {
            border-radius: 50%;
            background-color: $theme-color;
            width: 122px;
            height: 122px;
            position: absolute;
            content: "";            
            bottom: 0;
            right: 0;
            transform: translate(50px, 50px);
            transition: all .3s ease-in-out;
            opacity: 0;
            visibility: hidden;		
        }

        span {
            font-size: 15px;

            i {
                color: $second-color;
                margin-right: 5px;
            }
        }

        h3 {
            margin-bottom: 10px;
            margin-top: 5px;
            font-size: 22px;
            font-weight: 600;
            text-transform: capitalize;

            &:hover {                        
                a {
                    color: $third-color !important;
                }
            }

            @media (max-width: 585px) {                    
                font-size: 20px;
            }
        }

        p {
            color: #666;            
            transition: all .3s;
            margin-bottom: 15px;
            display: none;   
        }

        .read-more-btn {            
            display: inline-block;
            color: #444;
            text-transform: capitalize;
            border-bottom: 2px solid #444;
            transition: all .3s ease-in-out;
            
            &:hover {
                color: $theme-color;
                border-color: $theme-color;
            }
        }
    }
}

.single-blog-six { 
    margin-top: 30px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(4, 33, 63, 0.05);

    &:hover {
        .featured-img { 
            background-position: -10px 0;
        }
    }

    .post-time-card { 
        position: absolute;
        padding: 15px 12px 10px;
        background-color: #ED5F6D;
        text-align: center;
        left: 10px;
        top: 0;
        z-index: 1;
        border-radius: 0px 0px 10px 10px;

        @media (max-width: 767px) {
            padding: 10px 10px 8px;
        }

        .post-day {
            padding-bottom: 10px;

            p { 
                font-family: $heading-font;
                font-size: 32px;
                font-weight: 700;
                margin-bottom: 5px;
                line-height: 1;

                @media (max-width: 767px) {
                    font-size: 28px;
                }
            }

            span {
                font-family: $heading-font;
                display: block;
                text-transform: capitalize;
                line-height: 1;
                font-size: 14px;

                @media (max-width: 767px) {
                    font-size: 12px;
                }
            }
        }

        .post-year {
            border-top: 1px solid rgba(255, 255, 255, 0.3);

            span {
                padding-top: 10px;
                font-family: $heading-font;
                display: inline-block;
                text-transform: capitalize;
                line-height: 1;
            }
        }
    }

    .featured-img { 
        width: 100%;
        height: 340px;
        background-size: cover;
        position: relative;
        background-color: #888;
        transition: all .4s ease-in-out;

        @media (max-width: 1191px) {
            height: 300px;
        }

        @media (max-width: 767px) {
            height: 250px;
        }
    }

    .blog-details { 
        padding: 30px;
        position: relative;

        h3 { 
            font-size: 24px;
            line-height: 1.33;
            text-transform: capitalize;

            @media (max-width: 767px) {
                font-size: 20px;
                line-height: 1.5;
            }

            &:hover {
                a {
                    color: $theme-color;
                }
            }
        }

        .post-cat {
            color: $theme-color;
            font-size: 14px;
            line-height: 1;
            margin-bottom: 20px;
            text-transform: uppercase;
            font-weight: 500;
            display: block;

            &:hover {
                color: $second-color;
            }
        }

        .read-more-btn { 
            color: $theme-color;
            font-size: 16px;
            line-height: 1;
            text-transform: capitalize;
            font-weight: 500;
            font-family: $heading-font;

            @media (max-width: 767px) {
                font-size: 14px;
            }

            &:hover {
                color: $second-color;
            }

            i { 
                margin-left: 6px;
            }
        }
    }

    &.style-2 {
        .post-time-card { 
            background-color: $third-color;
            left: 30px;
        }

        .featured-img { 
            height: 320px;
        }

        .blog-details {

            .post-cat {
                color: $third-color;
            }


            h3 {
                &:hover {
                    a {
                        color: $third-color;
                    }
                }
            }

            .read-more-btn {
                color: $third-color;
                border: 1.5px solid #FF9C004D;
                box-sizing: border-box;
                padding: 14px 25px;
                font-size: 15px;
                display: inline-block;

                @media (max-width: 767px) {
                    font-size: 14px;
                    padding: 10px 20px;
                }

                &:hover {
                    color: #fff;
                    border-color: $third-color;
                    background-color: $third-color;
                }
            }

        }
    }

    &.style-3 {

        &:hover {
            .featured-img { 
                background-position: 0px 0 !important;

                &::after {
                    opacity: .5;
                    visibility: visible;
                }
            }
        }

        .featured-img { 

            &::after {
                position: absolute;
                left: 0;
                top: 0;
                content: "";
                background: $third-color;
                width: 100%;
                height: 100%;
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease-in-out;
            }
        }

        .blog-details {
            padding-top: 40px;

            .post-cat {
                color: $second-color;
            }


            h3 {
                &:hover {
                    a {
                        color: $second-color;
                    }
                }
            }

            .read-more-btn {
                color: $second-color;
                border: 1.5px solid $second-color;
                box-sizing: border-box;
                padding: 14px 25px;
                font-size: 15px;
                display: inline-block;

                @media (max-width: 767px) {
                    font-size: 14px;
                    padding: 10px 20px;
                }

                &:hover {
                    color: #fff;
                    border-color: $third-color;
                    background-color: $third-color;
                }
            }

        }

        
        .post-date-card { 
            padding: 15px 12px 10px;
            background-color: $second-color;
            text-align: center;
            z-index: 1;
            border-radius: 10px;
            position: absolute;
            display: inline-block;
            left: 30px;
            top: 0;
            transform: translateY(-88%);

    
            @media (max-width: 767px) {
                padding: 10px 10px 8px;
            }
    
            .post-day {
                padding-bottom: 10px;
    
                p { 
                    font-family: $heading-font;
                    font-size: 32px;
                    font-weight: 700;
                    margin-bottom: 5px;
                    line-height: 1;
    
                    @media (max-width: 767px) {
                        font-size: 28px;
                    }
                }
    
                span {
                    font-family: $heading-font;
                    display: block;
                    text-transform: capitalize;
                    line-height: 1;
                    font-size: 14px;

                    @media (max-width: 767px) {
                        font-size: 12px;
                    }
                }
            }
    
            .post-year {
                border-top: 1px solid rgba(255, 255, 255, 0.3);
    
                span {
                    padding-top: 10px;
                    font-family: $heading-font;
                    display: inline-block;
                    text-transform: capitalize;
                    line-height: 1;
                }
            }
        }
    }
}

.single-blog-nine { 
    margin-top: 30px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
    transition: all .35s ease-in-out;

    &:hover {
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);

        .blog-details { 
            .read-more-btn { 
                background-color: $theme-color;
                color: #fff;
            }
        }
    }

    .featured-img { 
        width: 100%;
        height: 220px;
        background-size: cover;
        position: relative;
        background-color: #888;
        transition: all .4s ease-in-out;

        @media (max-width: 1191px) {
            height: 200px;
        }

        @media (max-width: 767px) {
            height: 180px;
        }
    }

    .blog-details { 
        padding: 30px;
        padding-bottom: 35px;
        position: relative;

        h3 { 
            font-size: 24px;
            line-height: 1.33;
            text-transform: capitalize;

            @media (max-width: 767px) {
                font-size: 20px;
                line-height: 1.5;
            }

            &:hover {
                a {
                    color: $theme-color;
                }
            }
        }

        .post-meta {
            margin-bottom: 15px;

            .post-cat-name {
                margin-right: 6px;
                padding-right: 6px;
            }

            .post-comment {
                margin-left: 6px;
                padding-left: 6px;
            }

            i {
                margin-right:5px;
                display: inline-block;
            }

            a,  span {
                color: $theme-color;
                font-size: 14px;
                line-height: 1;
                text-transform: uppercase;
                font-weight: 500;
                display: inline-block;
    
                &:hover {
                    color: $second-color;
                }

                i {
                    color: $heading-color;
                }
            }
        }

        .read-more-btn { 
            color: $heading-color;
            font-size: 15px;
            line-height: 1;
            text-transform: uppercase;
            font-weight: 500;
            font-family: $heading-font;
            display: block;
            text-align: center;
            background-color: #f2ede9;
            margin-top: 25px;
            padding: 16px 0px;

            @media (max-width: 767px) {
                font-size: 14px;
            }

            &:hover {
                color: #fff;
                background-color: $theme-color;
            }
        }
    }

    .post-date-card { 
        padding: 12px 20px;
        background-color: $theme-color;
        text-align: center;
        z-index: 1;
        position: absolute;
        display: inline-block;
        right: 0;
        top: 0;
        transform: translateY(-100%);

        @media (max-width: 767px) {
            padding: 15px;
        }

        .post-day {
            p { 
                font-family: $heading-font;
                font-size: 26px;
                margin-bottom: 2px;
                line-height: 1;
                font-weight: 500;
                text-transform: uppercase;

                @media (max-width: 767px) {
                    font-size: 20px;
                }
            }
            span { 
                font-size: 18px;
                line-height: 1;
                text-transform: uppercase;

                @media (max-width: 767px) {
                    font-size: 16px;
                }
            }
        }
    }
    
}

.latest-news-card { 
    position: relative;
    background: rgba($color: $theme-color, $alpha: 0.85);
    margin-top: 30px;
    border-radius: 4px;
    overflow: hidden;

	.post-thumb { 
        width: 100%;
        height: 240px;
	}

	.content { 
        padding: 25px 30px;

		h3 {
            text-transform: capitalize;

            &:hover {
                a {
                    color: $second-color;
                }
            }
		}

        .post-cat { 
            display: inline-block;
            margin-bottom: 8px;

            &:hover {
                i, a {
                    color: $second-color;
                }
            }
            
            i, a {
                transition: all .3s ease-in-out;
                font-size: 14px;
                line-height: 1;
                text-transform: uppercase;
                color: $third-color !important;
            }
        }

        i {
            color: $third-color;
        }

		.post-meta { 
            text-transform: uppercase;
            font-size: 14px;
		}
	}
}